html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: lightseagreen;
    width: 100%;
    padding: 10px;
}

nav h2 {
    color: white;
}

main {
    margin: 0 20%;
}

main p {
    font-size: 1.2em;   
    padding: 5px;
    color: rgb(10, 103, 98)
}

main h1, h2, h3 {
    color: lightseagreen;
}

video {
    border-radius: 25px;
}